<h2 mat-dialog-title>{{data.name}}</h2>
<div mat-dialog-content class="mat-typography">
  <img src="{{data.url}}" alt="{{data.name}}"/>
  <div>
    <span>Type {{data.type}} | Height {{data.height}} | Weight {{data.weight}} | Number of battles {{data.numberOfBattles}}</span>
  </div>
</div>
<mat-dialog-actions align="end">
  <form-button [data] = "{
    type: 'text',
    subType: 'dialogClose',
    text: 'Cancel',
    name: 'Cancel'

  }">
  </form-button>
  <form-button [data] = "{
    type: 'text',
    subType: 'dialogCloseFocus',
    text: 'Close',
    name: 'Close'
  }">
  </form-button>
</mat-dialog-actions>

