<button *ngIf="data.subType.indexOf('dialogClose') === -1" (click)="onButtonClick($event, data)"
  type="data.type"
  mat-raised-button
  color="primary"
  [ngClass]="{
    'water': data.subType === 'water',
    'fire': data.subType === 'fire',
    'air': data.subType === 'air'
  }">
  {{data.text}}
</button>

<button *ngIf="data.subType === 'dialogClose'" color="primary" mat-raised-button mat-dialog-close>{{data.text}}</button>
<button *ngIf="data.subType === 'dialogCloseFocus'" color="primary" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>{{data.text}}</button>

