<div class="card">
  <div class="item">
    <div class="image"
      style="background-image: url('{{data.imageUrl}}')"></div>
    <div class="content">
        <h3>{{data.title}}</h3>
    </div>
    <div class="actions">
      <form-button  *ngFor="let buttonItem of data.buttons"
        (customClick)="onCustomButtonClick($event, button)"
        [data]="{
          type: buttonItem.type,
          text: buttonItem.text,
          subType: buttonItem.subType,
          name: buttonItem.name
        }">
      </form-button>
    </div>
  </div>
</div>
